version: '3.8'

services: 

  # Backend API
  smart-brain-api:
    container_name: backend
    build: ./
    command: npm start
    working_dir: /usr/src/smart-brain-api
    environment: 
      POSTGRES_URI: postgres://bob:secret@postgres:5432/smart-brain-docker

    ports:
      - "3000:3000"
    volumes: 
      - ./:/usr/src/smart-brain-api
    
  # Postgres
  postgres:
    environment: 
      POSTGRES_USER: bob
      POSTGRES_PASSWORD: secret
      POSTGRES_DB: smart-brain-docker
      POSTGRES_HOST: postgres
    build: ./postgres
    ports: 
      - "5431:5432"
    


